# Folders
docs/public*
_obj
_test
vendor/bundle/
builds
bin
tmp
tags
site
target
dist
_vendor-*
docs/public/
fixtures/formats/Sphinx/_build/

# Files
*.o
*.a
*.so
*.exe
*.prof
*.swp
*~
.bundle
.vagrant

action/action_closed.go
rule/grammar_closed.go



