# Folders
docs/public*
_obj
_test
vendor/bundle/
builds
bin
tmp
tags
site
target
dist
_vendor-*
docs/public/
fixtures/formats/Sphinx/_build/

.vscode
.idea
.fleet

*.sublime-workspace
*.sublime-project

# Files
*.o
*.a
*.so
*.exe
*.prof
*.swp
*~
.bundle
.vagrant
*.snap

.github/styles/*
!.github/styles/Vocab/Vale
