[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymdown-extensions = ">=2.6.11"
mkdocs-material = ">=3"
markdata = "*"
markdown = "*"

[dev-packages]

[requires]
python_version = "3.7"
